*
!.gitignore
!banners/
!banners/*
!banners/**
!articles/
!articles/*
!articles/**
!gallery/
!gallery/*
!gallery/**
!products/
!products/*
!products/**
!services/
!services/*
!services/**
!banner1.png
!banner2.png
